html {
    height: 100%;
    font-family: sans-serif;
}
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 8px;
    background-color: rgb(37, 37, 37);
    color: rgb(187 187 187);
}
.hidden {
    display: none
}
#input-view {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#input-view.hidden {
    display: none;
}
#input-box {
    display: flex;
    position: relative;
    width: 90%;
    height: 80%;
    border: 4px solid rgb(93, 93, 93);
    border-radius: 2em;
    background-color: rgb(47, 47, 47);
    justify-content: center;
    align-items: center;
}
#input-box.drag {
    background-color: rgb(31, 31, 31);
}
#input-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#input-box span {
    font-size: 2em;

}
#analysis-view {
    height: 100%;
}
#chart-selector {
    box-sizing: border-box;
    height: 3em;
    padding: .5em;
}
#chart-selector select {
    margin-right: 1em;
}
#chart-wrapper {
    height: calc(100% - 3em);
}
#chart {
    height: 100%;
}